.heading {
	margin-top: 40px;
	margin-bottom: 16px;
	font-weight: 700;
	font-size: 27px;
	line-height: 32px;
	letter-spacing: 0.4px;
}

.text {
	margin-bottom: 28px;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 0.2px;
}

.inputBox {
	position: relative;
	display: flex;
	flex-direction: column;
	width: 100%;
	margin-bottom: 20px;
}

.separator {
	position: relative;
	width: max-content;
	margin: 16px auto;
	padding: 0 16px;
	color: rgb(0 26 52 / 40%);
	text-align: center;

	&::before {
		position: absolute;
		top: 10px;
		left: -64px;
		width: 64px;
		height: 1px;
		background-color: var(--grey-op20);
		content: '';
	}

	&::after {
		position: absolute;
		top: 10px;
		right: -64px;
		width: 64px;
		height: 1px;
		background-color: var(--grey-op20);
		content: '';
	}
}

.toggleBtn {
	margin-top: 32px;
	margin-bottom: 8px;
	line-height: 1.5;
	text-align: center;
	transition: color transform 0.1s cubic-bezier(0.55, 0, 1, 0.45);

	.text {
		color: var(--blue-color);
		font-weight: 500;
		font-size: 16px;
		line-height: 24px;
		letter-spacing: 0.2px;
		cursor: pointer;

		&:hover {
			color: var(--blue-hover-color);
		}
	}
}

@keyframes error {
	10%,
	90% {
		transform: translate3d(-1px, 0, 0);
	}

	20%,
	80% {
		transform: translate3d(2px, 0, 0);
	}

	30%,
	50%,
	70% {
		transform: translate3d(-4px, 0, 0);
	}

	40%,
	60% {
		transform: translate3d(4px, 0, 0);
	}
}
