.sendCommentForm {
	margin-top: 32px;
	margin-left: 64px;
}

.userData {
	display: flex;
	align-items: center;
	margin-bottom: 12px;

	.authorData {
		margin-left: 16px;
		font-size: 14px;

		& > div:first-child {
			color: var(--grey-op60);
			font-size: 13px;
			line-height: 18px;
		}

		& > div:last-child {
			font-weight: 600;
			line-height: 20px;
		}
	}
}

.commentForm {
	padding-left: 78px;

	.txtBox {
		margin-bottom: 8px;
	}

	.btns {
		display: flex;
		justify-content: flex-end;
		width: 100%;
		margin-top: 16px;
	}
}
