@use 'src/assets/styles/variables' as variables;

.button {
	display: block;
	width: 100%;
	background: transparent;
	border: none;
	border-radius: 8px;
	cursor: pointer;

	.inner {
		display: inline-flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		color: #fff;
		font-weight: 600;
		font-size: 14px;
		line-height: 20px;
		text-align: center;
		transition: all 0.3s ease;
	}
}

.small {
	min-height: 40px;
	padding: 0 12px;
	border-radius: 8px;
}

.middle {
	min-width: 192px;
	min-height: 48px;
	padding: 0 20px;
	border-radius: 10px;
}

.large {
	min-height: 56px;
	padding: 0 24px;
	border-radius: 12px;
}

.blue {
	background-color: variables.$blue-primary;

	&:hover {
		background-color: variables.$blue-hover;
	}
}

.green {
	background-color: variables.$green-color;
	cursor: pointer;

	&:hover {
		background-color: variables.$green-hover-color;
	}
}

.lightBlue {
	color: rgb(0 91 255 / 100%) !important;
	background: rgb(0 150 255 / 7.8%);

	&:hover {
		background-color: rgb(0 91 255 / 15%);
	}
}

.disabled {
	color: #707f8d !important;
	background-color: rgb(0 48 120 / 3.9%);
	pointer-events: none;

	&:hover {
		background-color: rgb(0 48 120 / 3.9%);
	}
}

.noPadding {
	min-width: 56px;
	padding: 0;
}
