.searchBarModal {
	position: relative;
	z-index: 2100;
	min-width: 288px;
	min-height: 100px;
	margin: 40px auto;
	background-color: var(--white-color);
	border-radius: 32px;
}

.modalContent {
	position: relative;
	display: flex;
	flex-direction: column;
	width: 660px;
	padding: 32px 40px;
}

.catsLink {
	display: flex;
	flex: 0 0 288px;
	align-items: center;
	width: calc(50% - 8px);
	min-height: 40px;
	margin-top: 9px;
	padding: 6px 0;
	border-radius: 3px;
	transition: background-color 0.1s ease;

	&:hover {
		color: var(--blue-color);
		background-color: rgb(0 150 255 / 7.8%);
		cursor: pointer;
	}

	.title {
		font-weight: 500;
		font-size: 13px;
	}

	.iconWrapper {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 36px;
	}
}

.categoriesLinks {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-top: 25px;
}
