.heading {
	margin-top: 40px;
	margin-bottom: 26px;
	font-weight: 700;
	font-size: 27px;
	line-height: 32px;
	letter-spacing: 0.4px;

	& > span {
		margin-left: 6px;
		font-weight: 400;
		font-size: 14px;
	}
}

.toggleBtn {
	margin-top: 32px;
	margin-bottom: 8px;
	line-height: 1.5;
	text-align: center;
	transition: color transform 0.1s cubic-bezier(0.55, 0, 1, 0.45);

	.text {
		color: var(--blue-color);
		font-weight: 500;
		font-size: 16px;
		line-height: 24px;
		letter-spacing: 0.2px;
		cursor: pointer;

		&:hover {
			color: var(--blue-hover-color);
		}
	}
}

.counter {
	margin-top: 16px;
	color: var(--grey-op60);
	text-align: center;
}

.getCode {
	margin-top: 16px;
	color: var(--blue-color);
	text-align: center;
	cursor: pointer;

	&:hover {
		color: #003ead;
	}
}

.checkInfoWrapper {
	display: flex;
	align-items: center;
	margin: 8px 0 32px;

	& > span {
		margin-left: 8px;
		font-weight: 400;
		font-size: 16px;
		line-height: 24px;
		letter-spacing: 0.2px;
	}
}

.newUserForm {
	margin-top: 16px;
}

.btnWrapper {
	margin-top: 32px;
}
