.focusedBorder {
	border-color: var(--blue-color);
}

.heading {
	margin-top: 40px;
	margin-bottom: 26px;
	font-weight: 700;
	font-size: 27px;
	line-height: 32px;
	letter-spacing: 0.4px;
}

.inputBox {
	position: relative;
	display: flex;
	width: 100%;
	padding: 0 12px;
	overflow: hidden;
	color: var(--grey-text2);
	font-weight: 700;
	font-size: 30px;
	white-space: nowrap;
	text-align: center;
	text-overflow: ellipsis;
	background-color: var(--white-color);
	border: 2px solid #b3bcc5;
	border-radius: 6px;
	transition: border-color 0.2s cubic-bezier(0.25, 0.8, 0.25, 1);
	will-change: transform, border-color, top, background-color;

	&:hover {
		border-color: var(--blue-color);
	}

	& > input {
		width: 100%;
		padding: 2px 12px;
		font-weight: 500;
		font-size: 30px;
		line-height: 38px;
		text-align: inherit;
		vertical-align: top;
		background-color: hsl(0deg 0% 100% / 0%);
		border: 0;
		outline: none;
		-webkit-text-fill-color: var(--grey-text2);
		caret-color: var(--blue-color);
	}
}

.toggleBtn {
	margin-top: 32px;
	margin-bottom: 8px;
	line-height: 1.5;
	text-align: center;
	transition: color transform 0.1s cubic-bezier(0.55, 0, 1, 0.45);

	.text {
		color: var(--blue-color);
		font-weight: 500;
		font-size: 16px;
		line-height: 24px;
		letter-spacing: 0.2px;
		cursor: pointer;

		&:hover {
			color: var(--blue-hover-color);
		}
	}
}

.counter {
	margin-top: 16px;
	color: var(--grey-op60);
	text-align: center;
}

.getCode {
	margin-top: 16px;
	color: var(--blue-color);
	text-align: center;
	cursor: pointer;

	&:hover {
		color: #003ead;
	}
}

.checkInfoWrapper {
	display: flex;
	align-items: center;
	margin: 8px 0 32px;

	& > span {
		margin-left: 8px;
		font-weight: 400;
		font-size: 16px;
		line-height: 24px;
		letter-spacing: 0.2px;
	}
}

.newUserForm {
	margin-top: 16px;
}

.btnWrapper {
	margin-top: 32px;
}
