.categoryTopRow {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	padding: 8px;

	//height: 25px;
	overflow: hidden;
}

.link {
	display: inline-flex;
	align-items: center;
	min-height: 25px;
	margin-right: 12px;
	padding: 4px;
	overflow: hidden;
	font-weight: 500;
	font-size: 13px;
	line-height: 18px;
	letter-spacing: normal;
	white-space: nowrap;
	text-overflow: ellipsis;
	transition: color 0.4s cubic-bezier(0.4, 0, 0.2, 1);

	&:hover {
		color: var(--blue-color);
	}

	a {
		display: flex;
		align-items: center;
	}
}

.icon {
	display: block;
	width: 16px;
	height: 16px;
	margin-right: 5px;
	background-repeat: no-repeat;
	background-position: 50%;
	background-size: contain;
}

.hide {
	display: none;
}
