@use 'src/assets/styles/variables' as variables;

.categoryTopRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 8px;
  //height: 25px;
  overflow: hidden;
}

.link {
  display: inline-flex;
  align-items: center;
  padding: 4px;
  margin-right: 12px;
  font-size: 13px;
  font-weight: 500;
  line-height: 18px;
  min-height: 25px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  transition: color 0.4s cubic-bezier(0.4, 0, 0.2, 1);
  letter-spacing: normal;

  &:hover {
    color: variables.$blue-primary;
  }

  a {
    display: flex;
    align-items: center;
  }
}

.icon {
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
  height: 16px;
  margin-right: 5px;
  width: 16px;
}

.hide {
  display: none;
}