.label {
	display: inline-flex;
	align-items: center;
	margin-right: 10px;
	cursor: pointer;

	.input {
		position: absolute;
		width: 1px;
		height: 1px;
		margin: -1px;
		padding: 0;
		overflow: hidden;
		border: 0;
		clip: rect(0 0 0 0);
	}

	.checkbox {
		position: relative;
		display: inline-flex;
		flex: 0 0 auto;
		background-color: var(--white-color);
		border: 1px solid #b3bcc5;
		border-radius: 4px;
		transition:
			background-color 0.2s,
			border-color 0.2s;

		.svg {
			position: absolute;
			top: 50%;
			left: 50%;
			width: 16px;
			height: 16px;
			color: var(--white-color);
			transform: translate(-50%, -50%);
		}
	}
}

.text {
	padding-left: 8px;
	font-weight: 600;
	font-size: 13px;
}

.big {
	width: 20px;
	height: 20px;
}

.small {
	width: 16px;
	height: 16px;
}

.checked {
	background-color: var(--blue-color) !important;
	border-color: var(--blue-color) !important;

	&:hover {
		background-color: var(--blue-hover-color) !important;
		border-color: var(--blue-hover-color) !important;
	}
}

.hovered {
	color: #99bdff !important;
	border-color: #99bdff !important;
}

.error {
	background-color: rgb(245 60 20 / 5.9%) !important;
	border-color: #f91155 !important;

	&:hover {
		background-color: rgb(245 60 20 / 12%) !important;
	}
}
