.label {
	display: inline-flex;
	align-items: center;
	margin-right: 10px;
	cursor: pointer;

	.input {
		position: absolute;
		width: 1px;
		height: 1px;
		margin: -1px;
		padding: 0;
		overflow: hidden;
		border: 0;
		clip: rect(0 0 0 0);
	}

	.checkbox {
		position: relative;
		display: inline-flex;
		flex: 0 0 auto;
		width: 16px;
		height: 16px;
		background-color: var(--white-color);
		border: 2px solid #b3bcc5;
		border-radius: 4px;
		transition:
			background-color 0.15s,
			border-color 0.15s;

		.svg {
			position: absolute;
			top: 50%;
			left: 50%;
			width: 16px;
			height: 16px;
			color: var(--white-color);
			transform: translate(-50%, -50%);
		}
	}
}

.text {
	padding-left: 8px;
	font-weight: 600;
	font-size: 13px;
}

.checked {
	background-color: var(--blue-color) !important;
	border-color: var(--blue-color) !important;
}

.hovered {
	color: #99bdff !important;
	border-color: #99bdff !important;
}
