@use 'src/assets/styles/variables' as variables;

.label {
  margin-right: 10px;
  display: inline-flex;
  align-items: center;
  cursor: pointer;

  .input {
    clip: rect(0 0 0 0);
    border: 0;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  .checkbox {
    background-color: variables.$blue-primary;
    border-color: variables.$blue-primary;
  }
}