@use 'src/assets/styles/variables' as variables;

.searchBarWrapper {
	position: relative;
	height: 40px;
	border-radius: 12px;

	.searchForm {
		display: flex;
		height: 100%;
		background-color: variables.$blue-primary;
		border-radius: 8px;
	}
}

.leftSide {
	display: flex;
	flex-grow: 1;
	height: 100%;
	background: #fff;
	border: 2px solid variables.$blue-primary;
	border-radius: 8px;

	.catButton {
		display: flex;
		align-items: center;
		margin: 3px 0 3px 3px;
		color: rgb(0 26 52 / 60%);
		background: rgb(0 48 120 / 3.9%);
		border-radius: 4px;
		cursor: pointer;
		transition: color 0.4s cubic-bezier(0.4, 0, 0.2, 1);

		&:hover {
			color: variables.$blue-primary;
		}

		.title {
			display: block;
			max-width: 170px;
			margin-right: 2px;
			margin-left: 8px;
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
		}

		.arrowBox {
			width: 16px;
			height: 16px;
			margin-right: 4px;
		}
	}

	.inputWrapper {
		display: flex;
		flex: 1;
		height: 100%;

		.input {
			z-index: 1;
			width: calc(100% - 0.5px);
			padding: 0 0 0 8px;
			color: #000;
			font-size: 16px;
			line-height: 24px;
			letter-spacing: 0.2px;
			vertical-align: center;
			background: transparent;
			border: none;
			outline: none;
			appearance: none;
			-webkit-tap-highlight-color: rgb(0 0 0 / 0%);
		}
	}
}

.rightSide {
	width: 74px;
	height: 40px;
	border-radius: 8px;
	transition: all 0.3s ease;

	&:hover {
		background-color: variables.$blue-hover;
	}

	.searchButton {
		position: relative;
		display: block;
		width: 100%;
		height: inherit;
		line-height: 0;
		white-space: normal;
		text-decoration: none;
		background: transparent;
		border: none;
		border-radius: 6px;
		cursor: pointer;

		.searchIconWrapper {
			display: inline-flex;
			align-items: center;
			justify-content: center;
			color: #fff;
		}
	}
}
