.modalContainer {
	position: fixed;
	z-index: 1001;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	overflow: hidden;
	inset: 0;
}

.dark {
	background-color: rgb(3 8 13 / 32%);
}

.white {
	background-color: #fff;
}
