.searchContainer {
	position: relative;
	padding: 8px;
	background-color: var(--white-color);
	border-top-left-radius: 12px;
	border-top-right-radius: 12px;
}

.isOpenModal {
	z-index: 2200;
}

.searchBarWrapper {
	height: 40px;

	.searchForm {
		display: flex;
		height: 100%;
		background-color: var(--blue-color);
		border-radius: 8px;
	}
}

.removeButton {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 32px;
	height: 100%;
	color: var(--dark-grey-color);

	&:hover {
		color: var(--grey-op60);
		cursor: pointer;
	}
}

.requestHistoryWrapper {
	position: absolute;
	right: 0;
	left: 0;
	z-index: 2000;
	padding-top: 8px;
	padding-bottom: 12px;
	background-color: var(--white-color);
	border-bottom-right-radius: 12px;
	border-bottom-left-radius: 12px;
	box-shadow: 0 4px 16px 2px rgb(0 26 52 / 16%);
}

.requestHistory {
	max-height: calc(100vh - 150px);
	overflow-y: auto;
}

.historyHeader {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	padding: 16px 16px 8px;
	overflow: hidden;
	line-height: 26px;

	> h4 {
		font-weight: 700;
		font-size: 20px;
		letter-spacing: 0.4px;
	}

	> span {
		color: var(--blue-color);
		font-weight: 600;
		font-size: 13px;
		line-height: 20px;
		letter-spacing: 0.2px;

		&:hover {
			color: var(--blue-hover-color);
			cursor: pointer;
		}
	}
}

.requestHistoryItem {
	position: relative;
	display: flex;
	align-items: center;
	margin-top: 1px;
	padding: 11px 16px 11px 4px;
	color: var(--black-color);
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 0.2px;
	cursor: pointer;
	transition: 0.2s ease-out;
	transition-property: background-color, color;

	&::before {
		position: absolute;
		right: 0;
		bottom: -1px;
		left: 48px;
		z-index: 1;
		display: block;
		height: 1px;
		background: var(--grey-border);
		content: '';
	}

	&:hover {
		color: var(--blue-color);
		background: rgb(0 150 255 / 7.8%);
	}
}

.itemIcon {
	display: flex;
	justify-content: center;
	width: 48px;
	min-width: 48px;
	color: var(--dark-grey-color);
}

.itemTitle {
	overflow: hidden;
	font-weight: 500;
	font-size: 15px;
	line-height: 24px;
	letter-spacing: 0.2px;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.itemRemoveBtn {
	display: flex;
	align-items: center;
	margin-left: auto;
	color: var(--grey-border);
	font-size: 14px;
	line-height: 18px;

	&:hover {
		color: var(--blue-hover-color);
	}
}

.leftSide {
	display: flex;
	flex-grow: 1;
	height: 100%;
	background: var(--white-color);
	border: 2px solid var(--blue-color);
	border-radius: 8px;

	.catButton {
		display: flex;
		align-items: center;
		margin: 3px 0 3px 3px;
		color: var(--grey-op60);
		background: var(--dark-grey-bg);
		border-radius: 4px;
		cursor: pointer;
		transition: color 0.4s cubic-bezier(0.4, 0, 0.2, 1);

		&:hover {
			color: var(--blue-color);
		}

		.title {
			display: block;
			max-width: 170px;
			margin-right: 2px;
			margin-left: 8px;
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
		}

		.arrowBox {
			width: 16px;
			height: 16px;
			margin-right: 4px;
		}
	}

	.inputWrapper {
		display: flex;
		flex: 1;
		height: 100%;

		.input {
			z-index: 1;
			width: calc(100% - 0.5px);
			padding: 0 0 0 8px;
			color: var(--black-color);
			font-weight: 400;
			font-size: 16px;
			line-height: 24px;
			letter-spacing: 0.2px;
			vertical-align: center;
			background: transparent;
			border: none;
			outline: none;
			appearance: none;
			-webkit-tap-highlight-color: rgb(0 0 0 / 0%);
		}
	}
}

.rightSide {
	width: 74px;
	height: 40px;
	border-radius: 8px;
	transition: all 0.3s ease;

	&:hover {
		background-color: var(--blue-hover-color);
	}

	.searchButton {
		position: relative;
		display: block;
		width: 100%;
		height: inherit;
		line-height: 0;
		white-space: normal;
		text-decoration: none;
		background: transparent;
		border: none;
		border-radius: 6px;
		cursor: pointer;

		.searchIconWrapper {
			display: inline-flex;
			justify-content: center;
			align-items: center;
			color: var(--white-color);
		}
	}
}
