@use 'src/assets/styles/variables' as variables;

.feedbackGalleryModal {
	position: relative;
	display: flex;
	min-width: 392px;
	max-width: 1176px;
	height: 612px;
	margin: 46px auto;
	background-color: #fff;
	border-radius: 20px;
	box-shadow:
		0 6px 16px 2px rgb(204 214 228 / 60%),
		0 0 0 1px rgb(0 48 120 / 3.9%);
	transform: translateZ(0);
}

.selectedPhotoContainer {
	position: relative;
	display: flex;
	justify-content: center;
	width: 816px;
	overflow: hidden;
	background-color: black;
}

.selectedFeedbackInfo {
	position: relative;
	width: 360px;
	height: 100%;
	padding: 16px 0 56px 16px;
	overflow: hidden;

	.info {
		position: relative;
		height: 100%;
		padding-right: 24px;
		overflow-x: hidden;
		overflow-y: auto;

		&::-webkit-scrollbar {
			width: 6px;
			background-color: #fff;
		}

		&::-webkit-scrollbar-thumb {
			background-color: rgb(204 214 228 / 60%);
			border-radius: 6px;
		}

		&::-webkit-scrollbar-track {
			margin-top: 12px;
			margin-bottom: 12px;
			background-color: #fff;
			border-radius: 6px;
		}
	}
}

.descriptionBox {
	position: relative;
	padding-top: 8px;

	.tickBox {
		display: inline-flex;
		align-items: center;
		margin-top: 8px;
		padding: 2px 8px;
		color: #0ead43;
		background-color: #f5f7fa;
		border-radius: 8px;

		& > svg {
			margin-right: 5px;
		}

		& > div {
			padding-top: 1px;
			color: rgb(0 26 52 / 60%);
			font-size: 12px;
			line-height: 16px;
		}
	}

	.showDescriptionBtn {
		display: flex;
		width: 100%;
		padding-top: 20px;
		color: variables.$blue-primary;
		font-size: 14px;
		line-height: 18px;

		& > div {
			font-weight: 500;
			line-height: 20px;
			cursor: pointer;
			transition: transform 0.1s cubic-bezier(0.55, 0, 1, 0.45);

			&:hover {
				color: variables.$blue-hover;
			}
		}
	}

	.description {
		margin-top: 16px;
		font-size: 13px;
		line-height: 18px;

		.infoDesc {
			position: relative;
			margin-top: 16px;
			white-space: pre-line;
			word-break: break-all;

			.title {
				margin-bottom: 8px;
				font-weight: 500;
				font-size: 16px;
				line-height: 20px;
			}
		}
	}
}

.userData {
	display: flex;
	align-items: center;

	.name {
		max-width: 400px;
		font-weight: 700;
		font-size: 16px;
		line-height: 20px;
		word-break: break-word;
	}

	.date {
		color: rgb(0 26 52 / 60%);
		font-weight: 500;
		font-size: 12px;
		line-height: 18px;
	}
}

.comments {
	margin-top: 24px;
	padding-top: 20px;
	padding-bottom: 20px;
	border-top: 1px solid rgb(204 214 228 / 60%);

	.heading {
		font-weight: 700;
		font-size: 20px;
		line-height: 26px;

		& > span {
			color: rgb(0 26 52 / 60%);
			font-weight: 400;
			font-size: 16px;
			line-height: 20px;
		}
	}

	.comment {
		margin-top: 24px;

		.textBox {
			position: relative;
			margin-top: 16px;
			padding-left: 64px;
			word-break: break-all;

			&::before {
				position: absolute;
				top: 0;
				left: 24px;
				width: 1px;
				height: 100%;
				background-color: rgb(204 214 228 / 60%);
				content: '';
			}
		}
	}
}

.moreCommentsBtn {
	position: relative;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	margin-top: 40px;
	padding-left: 8px;
	color: variables.$blue-primary;
	font-weight: 500;
	line-height: 18px;
	border-radius: 8px;
	cursor: pointer;
	transition:
		color 0.15s ease-in-out,
		background 0.15s ease-in-out,
		opacity 0.3s ease-in-out;

	&:hover .icon {
		transform: rotate(-90deg);
	}

	.icon {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 32px;
		height: 32px;
		margin-right: 20px;
		color: #fff;
		background-color: #005bff;
		border-radius: 50%;
		transform-origin: center center;
		transition: transform 0.3s ease-in-out;

		&:hover {
			color: #fff !important;
			background-color: variables.$blue-hover;
		}
	}

	& > span {
		color: variables.$blue-hover;
	}
}
