.feedbackGalleryModal {
	position: relative;
	display: flex;
	min-width: 392px;
	max-width: 1176px;
	height: 612px;
	margin: 46px auto;
	background-color: var(--white-color);
	border-radius: 20px;
	box-shadow:
		0 6px 16px 2px var(--grey-border),
		0 0 0 1px var(--dark-grey-bg);
	transform: translateZ(0);
}

.selectedPhotoContainer {
	position: relative;
	display: flex;
	justify-content: center;
	width: 816px;
	overflow: hidden;
	background-color: var(--white-color);
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;

	.feedbackRating {
		position: absolute;
		top: 20px;
		left: 20px;
		z-index: 2;
		display: flex;
		align-items: center;
		margin-right: 8px;
		padding: 3px 8px;
		color: var(--white-color);
		font-size: 14px;
		line-height: 18px;
		background: rgb(7 7 7 / 48%);
		border-radius: 12px;

		& > span {
			margin-right: 8px;
		}

		.ratingBox {
			position: relative;
			display: inline-flex;
			align-items: center;
			width: 90px;
			height: 20px;
			pointer-events: none;
		}
	}

	.blurImgBox {
		position: absolute;
		z-index: 0;
		width: 100%;
		height: 100%;
		background: var(--grey-op20);
		inset: 0;

		.blurImg {
			position: absolute;
			top: 0;
			left: 10%;
			width: 80%;
			height: 100%;
			transform: translateZ(0);
			backface-visibility: hidden;
			filter: blur(100px);

			// object-fit: 'contain';

			&::after {
				position: absolute;
				inset: 0;
				z-index: 2;
				width: 100%;
				height: 100%;
				background: var(--dark-grey-bg);
				content: '';
			}
		}
	}

	.originalImg {
		z-index: 1;
		width: 100%;
		object-fit: contain;
		transform: translateZ(0);
		opacity: 1;
		transition:
			transform 0.4s,
			opacity 0.4s;
	}
}

.selectedFeedbackInfo {
	position: relative;
	width: 360px;
	height: 100%;
	padding: 16px 0 56px 16px;
	overflow: hidden;

	.info {
		position: relative;
		height: 100%;
		padding-right: 24px;
		overflow-x: hidden;
		overflow-y: auto;

		&::-webkit-scrollbar {
			width: 6px;
			background-color: var(--white-color);
		}

		&::-webkit-scrollbar-thumb {
			background-color: var(--grey-border);
			border-radius: 6px;
		}

		&::-webkit-scrollbar-track {
			margin-top: 12px;
			margin-bottom: 12px;
			background-color: var(--white-color);
			border-radius: 6px;
		}
	}
}

.descriptionBox {
	position: relative;
	padding-top: 8px;

	.tickBox {
		display: inline-flex;
		align-items: center;
		margin-top: 8px;
		padding: 2px 8px;
		color: var(--green-hover-color);
		background-color: var(--grey-color);
		border-radius: 8px;

		& > svg {
			margin-right: 5px;
		}

		& > div {
			padding-top: 1px;
			color: var(--grey-op60);
			font-size: 12px;
			line-height: 16px;
		}
	}

	.showDescriptionBtn {
		display: flex;
		width: 100%;
		padding-top: 20px;
		color: var(--blue-color);
		font-size: 14px;
		line-height: 18px;

		& > div {
			font-weight: 500;
			line-height: 20px;
			cursor: pointer;
			transition: transform 0.1s cubic-bezier(0.55, 0, 1, 0.45);

			&:hover {
				color: var(--blue-color);
			}
		}
	}

	.description {
		margin-top: 16px;
		font-size: 13px;
		line-height: 18px;

		.infoDesc {
			position: relative;
			margin-top: 16px;
			white-space: pre-line;
			word-break: break-all;

			.title {
				margin-bottom: 8px;
				font-weight: 500;
				font-size: 16px;
				line-height: 20px;
			}
		}
	}
}

.userData {
	display: flex;
	align-items: center;

	.name {
		max-width: 400px;
		font-weight: 700;
		font-size: 16px;
		line-height: 20px;
		word-break: break-word;
	}

	.date {
		color: var(--grey-op60);
		font-weight: 500;
		font-size: 12px;
		line-height: 18px;
	}
}

.comments {
	margin-top: 24px;
	padding-top: 20px;
	padding-bottom: 20px;
	border-top: 1px solid var(--grey-border);

	.heading {
		font-weight: 700;
		font-size: 20px;
		line-height: 26px;

		& > span {
			color: var(--grey-op60);
			font-weight: 400;
			font-size: 16px;
			line-height: 20px;
		}
	}

	.comment {
		margin-top: 24px;

		.textBox {
			position: relative;
			margin-top: 16px;
			padding-left: 64px;
			word-break: break-all;

			&::before {
				position: absolute;
				top: 0;
				left: 24px;
				width: 1px;
				height: 100%;
				background-color: var(--grey-border);
				content: '';
			}
		}
	}
}

.moreCommentsBtn {
	position: relative;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	margin-top: 40px;
	padding-left: 8px;
	color: var(--blue-color);
	font-weight: 500;
	line-height: 18px;
	border-radius: 8px;
	cursor: pointer;
	transition:
		color 0.15s ease-in-out,
		background 0.15s ease-in-out,
		opacity 0.3s ease-in-out;

	&:hover .icon {
		transform: rotate(-90deg);
	}

	.icon {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 32px;
		height: 32px;
		margin-right: 20px;
		color: var(--white-color);
		background-color: var(--blue-color);
		border-radius: 50%;
		transform-origin: center center;
		transition: transform 0.3s ease-in-out;

		&:hover {
			color: var(--white-color) !important;
			background-color: var(--blue-hover-color);
		}
	}

	& > span {
		color: var(--blue-hover-color);
	}
}

.leftArrow {
	position: absolute;
	top: 50%;
	left: -80px;
	display: inline-flex;
	border-radius: 50%;
}

.iconArr {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	min-height: 48px;
	padding: 12px;
	color: var(--grey-text2);
	font-weight: 500;
	font-size: 16px;
	line-height: 20px;
	text-align: center;
	background-color: var(--white-color);
	box-shadow: 0 4px 16px 1px rgb(0 26 52 / 16%);
	transition:
		color 0.15s ease-in-out,
		background 0.15s ease-in-out,
		opacity 0.3s ease-in-out;
}

.rightArrow {
	position: absolute;
	top: 50%;
	right: -80px;
}
