.headerContainer {
	background-color: #fff;
}

.layout {
	position: relative;
	margin: 0 24px;
	padding: 4px 28px;
}

.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 63px;
}

.fixed {
	position: fixed;
	top: 0;
	z-index: 1000;
	width: 100%;
	max-width: 1472px;
	margin-left: -28px;
	padding: 4px 28px;
	background-color: #fff;

	&::before {
		position: fixed;
		top: 0;
		left: 0;

		// z-index: 100;
		width: 100%;
		height: 63px;
		margin-left: -16px;
		border-bottom: 1px solid rgb(204 214 228 / 60%);
		content: '';
	}
}

.row {
	position: absolute;
	top: 70px;
	right: 0;
	left: 0;
	width: 100vw;
	height: 1px;
	background-color: 1px solid rgb(204 214 228 / 60%);
}

.searchInputBox {
	flex-grow: 1;
	margin-right: 24px;
}

.showCatalogButtonWrapper {
	display: inline-flex;
	margin-right: 16px;
}

.logo {
	display: flex;
	align-items: center;
	margin-right: 38px;
}
