.closeBtn {
	position: absolute;
	top: 18px;
	right: 18px;
	z-index: 1002;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	min-width: 32px;
	height: 32px;
	color: var(--white-color);
	background-color: var(--grey-border);
	border: none;
	border-radius: 50%;
	cursor: pointer;
	transition: background-color 0.3s ease-in-out;

	&:hover {
		background-color: rgb(204 214 228 / 50%);
	}
}

.inside {
	top: 18px;
	right: 18px;
}

.outside {
	top: 0;
	right: -70px;
}
