.datePicker {
	position: relative;
}

.icon {
	position: absolute;
	right: 0;
	bottom: 0;
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-end;
	align-items: center;
	width: 34px;
	height: 44px;
	margin-right: 10px;
	margin-left: auto;
	background-color: var(--white-color);

	& > span {
		z-index: 3000;
		display: flex;
		justify-content: center;
		align-items: center;
		color: var(--dark-grey-color);
		cursor: pointer;
		transition: color 0.1s ease-in-out;
	}
}
