@use 'src/assets/styles/variables' as variables;

.cartBox {
	display: flex;
	flex-direction: column;
	margin: 0 24px;
	padding: 0 28px;
}

.cart {
	margin: 24px 0 40px;
}

.orderSectionCartBox {
	display: flex;
	margin-top: 48px;
}

.cartItemsBox {
	display: flex;
	flex-basis: calc(66.6% - 24px);
	flex-direction: column;
	max-width: calc(66.6% - 24px);
	overflow: hidden;
	border-radius: 24px;
}

.controlCartItems {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-between;
	min-height: 48px;
	padding: 0 16px;
	background-color: #fff;

	.removeAndSelectBox {
		display: flex;

		.removeTitle {
			color: variables.$red-color;
			font-weight: 600;
			font-size: 13px;
			cursor: pointer;
		}
	}

	.shareBox {
		display: flex;
		align-items: center;
		color: variables.$blue-primary;
		font-weight: 600;
		font-size: 13px;
		cursor: pointer;
		transition: color 0.3s ease;

		&:hover {
			color: variables.$blue-hover;
		}

		svg {
			margin-right: 6px;
		}
	}
}

.red {
	color: variables.$red-color;
}

.green {
	color: variables.$green-color;
}
