.textareaForm {
	position: absolute;
	bottom: 0;
	left: 0;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	width: 100%;
	padding: 12px 24px 12px 16px;

	.sendIcon {
		position: relative;
		overflow: hidden;

		// color: var(--grey-op60);
	}
}
