.noticeBanner {
	position: fixed;
	right: 24px;
	bottom: 24px;
	z-index: 10002;
	display: flex;
	flex-direction: column;
	gap: 16px;
	width: 282px;
	color: var(--grey-color);
	background-color: var(--black-color);
	border-radius: 20px;
}

.show {
	animation: banner-open 0.5s forwards;
}

.hide {
	animation: banner-close 0.5s forwards;
}

@keyframes banner-open {
	from {
		visibility: hidden;
		opacity: 0;
	}

	to {
		visibility: visible;
		opacity: 1;
	}
}

@keyframes banner-close {
	from {
		visibility: visible;
		opacity: 1;
	}

	to {
		visibility: hidden;
		opacity: 0;
	}
}
