.heading {
	display: flex;
	align-items: center;
	margin-bottom: 24px;
	padding: 7px 0;
	color: var(--color-black);
	font-weight: 700;
	font-size: 28px;
	line-height: 30px;
	letter-spacing: 0.4px;
}

.number {
	height: 20px;
	margin: 0 0 12px 2px;
	color: var(--grey-op60);
	font-weight: 400;
	font-size: 14px;
}
