$red-color: #f91155;
$blue-primary: #005bff;
$blue-hover: #0050e0;
$green-color: #10c44c;
$green-hover-color: #0ead43;
$grey-color: #99a3ae;
$white-bg-color: #f7f8f9;
$grey-bg-color: #f5f7fa;

:export {
	redcolor: $red-color;
	bluecolor: $blue-primary;
	bluehovercolor: $blue-hover;
	greencolor: $green-color;
	greycolor: $grey-color;
	whitecolor: $white-bg-color;
	greybgcolor: $grey-bg-color;
	greenhovercolor: $green-hover-color;
}
